@keyframes hand{
                      0% {
                          transform:translateY(-100%);
                         }
                      5% {
                          transform:translateY(-100%);
                         }
                      15% {transform:translateY(-0);
                            padding-bottom: 5px;
                          }
                      30% {
                            transform:translateY(-33%);
                            padding-bottom: 5px;
                          }
                      40% {
                            transform:translateY(0);
                            padding-bottom: 6px;
                          }
                      50% {transform:translateY(-30%);}
                      70% {
                          transform:translateY(0%);
                          padding-bottom: 7px;
                      }
                    }
.left-hand{
            float:left;
            position: absolute;
            padding-top: 30px;
}

.right-hand{
            float:right;
            padding-top: 30px;
}

.animation{
  animation-name: hand;
  animation-duration: 3s;
}

#top-content-container{
  position:relative;
}

.computer-text{
  position: absolute;
  right: 100px;
  top: 70px;
  font-size: 25px;
  font-family: impact,helvetica,arial;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: red;
}

.player-text{
  position: absolute;
  font-size: 25px;
  left: 100px;
  top: 70px;
  font-family: impact,helvetica,arial;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: red;
}

#pokemon-container{
  height: 200px;
  width: 300px;
  margin: auto;
}

.pokemon-player{
  padding-top: 40px;
  float: left;
}

.pokemon-computer{
  padding-top: 40px;
  float: right;
}

